In [1]:
!pip install BeautifulSoup4
!pip install lxml 
!pip install geopy

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/e8/b5/7bb03a696f2c9b7af792a8f51b82974e51c268f15e925fc834876a4efa0b/beautifulsoup4-4.9.0-py3-none-any.whl (109kB)
     |████████████████████████████████| 112kB 26.2MB/s eta 0:00:01
Collecting soupsieve>1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/05/cf/ea245e52f55823f19992447b008bcbb7f78efc5960d77f6c34b5b45b36dd/soupsieve-2.0-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.9.0 soupsieve-2.0
Collecting lxml
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 26.0MB/s eta 0:00:01     |█████████████████▍              | 3.1MB 26.0MB/s eta 0:00:01     |█████████████████████▋          | 3.9MB 26.0MB/s eta 0:00:01     |████████████████████████▎       | 4.4MB 26.0MB/s eta 0:00:01     |█████████████████████████████   | 5.2MB 26.0MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.0
Collecting geopy
  Downloading https://files.pythonhosted.org/packages/53/fc/3d1b47e8e82ea12c25203929efb1b964918a77067a874b2c7631e2ec35ec/geopy-1.21.0-py2.py3-none-any.whl (104kB)
     |████████████████████████████████| 112kB 7.1MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0

In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from geopy.geocoders import Nominatim

import folium

In [3]:
wikipedia_link='https://en.wikipedia.org/wiki/List_of_Mumbai_Suburban_Railway_stations'
raw_wikipedia_page= requests.get(wikipedia_link).text

#website scraping using beautifulsoup package
soup = BeautifulSoup(raw_wikipedia_page,'lxml')

In [4]:
table=soup.find_all('table')
df = pd.read_html(str(table))
df

[    0                                                  1
 0   †                                   Terminal station
 1   *  Transfer station (excluding transfer to Indian...
 2  †*       Terminal and transfer station to other lines,
        # Station Name                Station Code  \
        #      English        Marathi Station Code
 0      1       Airoli          ऐरोली          NaN
 1      2    Ambarnath        अंबरनाथ            A
 2      3      Ambivli        आंबिवली          NaN
 3      4      Andheri         अंधेरी          AAD
 4      5     Asangaon        आसनगांव           AN
 ..   ...          ...            ...          ...
 129  131        Sewri          शिवडी          NaN
 130  132       Taloja  तळोजे पंचानंद          NaN
 131  133          Pen            पेण          NaN
 132  134     Rasayani         रसायनी          NaN
 133  135    Nagothane        नागोठणे          NaN

                                               Line Fast train stop[a]  \
                                               Line Fast train stop[a]
 0                               Trans-Harbour Line                NaN
 1                                     Central Line                NaN
 2                                     Central Line                NaN
 3    Western LineHarbour LineLine 1 (Mumbai Metro)                NaN
 4                                     Central Line                NaN
 ..                                             ...                ...
 129                                   Harbour Line                NaN
 130                                   Central Line                NaN
 131                                   Harbour Line                NaN
 132                                   Harbour Line                NaN
 133                                   Harbour Line                NaN

     Long Distance[b] Notes Refs
     Long Distance[b] Notes Refs
 0                NaN   NaN  NaN
 1                NaN   NaN  NaN
 2                NaN   NaN  NaN
 3                NaN   NaN  NaN
 4                NaN   NaN  NaN
 ..               ...   ...  ...
 129              NaN   NaN  NaN
 130              NaN   NaN  NaN
 131              NaN   NaN  NaN
 132              NaN   NaN  NaN
 133              NaN   NaN  NaN

 [134 rows x 9 columns]]

In [108]:
df[1]['Station Name']['English']

geolocator = Nominatim(user_agent="foursquare_agent")

stations_df = pd.DataFrame(columns=['Station name','location'])

for station in df[1]['Station Name']['English']:
    address = station+' station,india'
    location = geolocator.geocode(address)
    if location is not None:
        stations_df = stations_df.append({
            'Station name': station,
            'location': (location.latitude,location.longitude)
        }, ignore_index=True)   

stations_df.head()

  Station name                                 location
0       Airoli  (19.158514699999998, 72.99940185331164)
1    Ambarnath           (19.1436074, 73.2955345448486)
2      Ambivli                  (19.267645, 73.1718625)
3      Andheri                 (19.1196976, 72.8464205)
4     Asangaon                 (19.4409122, 73.3065183)

## Venues and categories
We will use Foursquare API to explore venue categories surrounding each station. Venues can be categorized as residential, professional, shopping or leisure. Let's see what venue categories Foursquare identifies.

In [72]:
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 100

In [73]:
categories_url = 'https://api.foursquare.com/v2/venues/categories?client_id={}&client_secret={}&v={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
# make the GET request
results = requests.get(categories_url).json()

In [64]:
len(results['response']['categories'])

10

we can see there are 10 major category

In [74]:
for category in results['response']['categories']:
    print(category['name'])

Arts & Entertainment
College & University
Event
Food
Nightlife Spot
Outdoors & Recreation
Professional & Other Places
Residence
Shop & Service
Travel & Transport

We will be using the foursquare explore API with catid to query the number of venues of each category in a specific radius.
The response contains a totalResults value for the specified coordinates, radius and category.

In [104]:
def get_venues_count(loc,  categoryId):
    explore_url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={}&radius={}&categoryId={}'.format(
                CLIENT_ID,  CLIENT_SECRET, VERSION,",".join(map(str,loc)),1000,categoryId)
    return requests.get(explore_url).json()['response']['totalResults']

In [84]:
#Create new dataframe to store venues data
stations_venues = stations_df.copy()
for category in categories_list:
    stations_venues_df[category[0]] = 0

In [102]:
len(stations_venues_df)

131

In [106]:
for i in range(len(stations_venues_df)):
    print(i,stations_venues.location.iloc[i])
    for c in categories_list:
        stations_venues.loc[i, c[0]] = get_venues_count(stations_venues.location.iloc[i], categoryId=c[1])
stations_venues.to_csv('stations_venues.csv')

0 (19.158514699999998, 72.99940185331164)
1 (19.1436074, 73.2955345448486)
2 (19.267645, 73.1718625)
3 (19.1196976, 72.8464205)
4 (19.4409122, 73.3065183)
5 (19.503751, 73.327362)
6 (19.1669545, 73.2381899)
7 (19.05492845, 72.8405920869825)
8 (19.1438684, 72.9384327)
9 (19.3102682, 72.8530973)
10 (18.9705432, 73.331417)
11 (19.362530800000002, 73.07847467842203)
12 (19.7863383, 72.7925799)
13 (19.229068, 72.8573628)
14 (18.9766219, 72.8327936)
15 (19.01898695, 73.03909472408442)
16 (18.9524563, 72.8174395)
17 (19.0612128, 72.8975909)
18 (18.9398453, 72.83547038112503)
19 (18.9871984, 72.8326716)
20 (19.0517703, 72.8690974)
21 (18.9359567, 72.8273404)
22 (18.9871866, 72.8438965)
23 (18.9949978, 72.8328707)
24 (27.0724152, 75.6453967)
25 (19.9915236, 72.7434083)
26 (19.2494501, 72.8596206)
27 (19.187695, 73.0583421)
28 (19.1887564, 73.0414169)
29 (18.9674767, 72.8445477)
30 (18.8331631, 73.3203444)
31 (19.2180493, 73.0861355)
32 (19.0148811, 72.8279556)
33 (19.1722019, 72.9632085)
34 (19.11637965, 73.00699279145043)
35 (19.0891525, 72.9074443)
36 (19.1647723, 72.8508992)
37 (19.0553688, 72.9150702)
38 (18.96273275, 72.81603893825404)
39 (19.0369905, 72.8621647)
40 (19.1348994, 72.8488199)
41 (19.3547576, 72.87482)
42 (19.0561686, 73.01824514610297)
43 (19.0358309, 73.1034796)
44 (28.2444377, 75.9134674)
45 (19.2716301, 73.23586552517415)
46 (19.3366555, 72.9190837)
47 (19.204159, 72.8516821)
48 (19.1296868, 72.9283701)
49 (18.9617775, 73.37750396869731)
50 (19.6482325, 73.4735887)
51 (18.8445032, 73.3190229)
52 (19.6239393, 72.7912034)
53 (19.356724, 73.2190375)
54 (19.0073498, 73.0952827)
55 (19.0696584, 72.8398944)
56 (19.2939701, 72.9953635)
57 (17.5755903, 75.2701684)
58 (19.0257731, 73.05918477985664)
59 (18.959918000000002, 73.0141408146118)
60 (18.787747, 73.3438185)
61 (19.0316822, 72.8577375)
62 (19.212423, 73.078865)
63 (19.1028516, 73.0030748)
64 (19.0652797, 72.8793805)
65 (18.9963318, 72.8308603)
66 (18.809181, 73.3353859)
67 (18.9825679, 72.82416)
68 (19.6464428, 72.7196769)
69 (19.1867193, 72.8485884)
70 (19.0485178, 72.9323356)
71 (19.0164338, 73.0806552)
72 (18.9456701, 72.823781)
73 (18.9527781, 72.8381032)
74 (19.0274356, 72.8501467)
75 (19.0278149, 72.8466813)
76 (19.2816975, 72.8560676)
77 (18.9695855, 72.8193152)
78 (19.1722904, 72.9564695)
79 (19.1899425, 73.0230752)
80 (19.1543618, 72.9464735)
81 (20.787829, 79.589794)
82 (19.4188363, 72.8256898)
83 (19.0274308, 73.3184369)
84 (19.033611800000003, 73.01813957492513)
85 (19.053846, 73.1030296)
86 (18.9461995, 72.95031154854297)
87 (19.1545761, 73.0802554)
88 (19.68086385, 72.82537342511341)
89 (18.96558885, 73.10288130582491)
90 (19.0094817, 72.8376614)
91 (19.1366366, 73.00278067582235)
92 (19.151023, 72.8501467)
93 (18.4468606, 73.13868829070498)
94 (19.0083605, 73.021779)
95 (18.9609243, 72.8393719)
96 (19.06597735, 73.00953290144423)
97 (19.0815223, 72.8417565)
98 (19.0221923, 73.01873756602905)
99 (19.5771316, 72.8218812)
100 (19.0465213, 72.8632834)
101 (19.2458783, 73.1573918)
102 (20.3708363, 77.2480043)
103 (19.5502698, 73.352282)
104 (18.9920191, 73.0384519)
105 (19.1872787, 72.97734732395253)
106 (19.2255622, 73.0968165)
107 (19.2948464, 73.2051012)
108 (19.0761648, 73.01766154369602)
109 (19.217643600000002, 73.16361081346678)
110 (19.6337517, 73.4256215)
111 (19.7557614, 72.7604506)
112 (18.878674, 72.9494826)
113 (19.0168546, 72.8591933)
114 (19.5186517, 72.8499772)
115 (19.8829908, 72.7631658)
116 (19.0943323, 73.3008946)
117 (19.3826208, 72.8320393)
118 (19.063404050000003, 72.99904980384244)
119 (19.4065089, 73.2674683)
120 (19.0796294, 72.8974906700789)
121 (19.1114795, 72.928021)
122 (19.1002887, 72.8417618)
123 (19.436533, 72.8384526)
124 (19.228396, 73.1495166)
125 (27.6379803, 95.667004)
126 (18.9987796, 72.8544218)
127 (19.0614859, 73.1161392)
128 (18.6973659, 73.13672046831282)
129 (18.8978821, 73.1803608)
130 (18.5402418, 73.1406194)

# Final consolidated data

In [117]:
stations_venues = pd.read_csv('stations_venues.csv', index_col=0)
stations_venues.head()

,Station name,location,Arts & Entertainment,College & University,Event,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Residence,Shop & Service,Travel & Transport
0,Airoli,"(19.158514699999998, 72.99940185331164)",0,5,0,13,2,7,15,4,3,3
1,Ambarnath,"(19.1436074, 73.2955345448486)",0,0,0,0,0,0,0,0,0,0
2,Ambivli,"(19.267645, 73.1718625)",0,0,0,1,0,0,2,1,3,4
3,Andheri,"(19.1196976, 72.8464205)",5,8,0,33,7,9,21,4,36,14
4,Asangaon,"(19.4409122, 73.3065183)",0,0,0,6,0,0,0,0,0,1